@model AustraliyaDemo.Entity.Site
@{
    ViewData["Title"] = "EditSite";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<input type="hidden" id="userid" value="@ViewBag.Id" />
<h1 style=" text-decoration: none; color: #008CBA;">EditSite</h1>
<div class="container">
    <div class="row justify-content-center ">
        <div class="col-sm-6 box">
            <form asp-action="EditSite" method="post" enctype="multipart/form-data">
                <label>Site Name</label>
                <input asp-for="Id" type="hidden" />
                <input asp-for="UserId" type="hidden" />
                <input type="text" class="form-control"  required asp-for="Name" placeholder="Enter Site Name " />
                <label> Country Name</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <select class="form-control" asp-for="CountryId" required>
                            <option>--Select Country--</option>
                            @if (ViewBag.Country != null)
                            {
                                foreach (var d in ViewBag.Country)
                                {
                                    <option value="@d.Id">@d.CountryName</option>
                                }
                            }

                        </select>
                    </div>
                   
                </div>
                <label>Site URL</label>
                <input type="text" class="form-control" required asp-for="Url" placeholder="https://facebook.com" />
                <label>Site Logo</label>
                <input type="file" asp-for="LogoPath" required class="form-control" />
                <label>Site Type</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <select class="form-control" asp-for="TypeId" id="mySelect" required>
                            <option>--Select Type--</option>
                            @if (ViewBag.SityTypes != null)
                            {
                                foreach (var s in ViewBag.SityTypes)
                                {
                                    <option value="@s.Id">@s.SiteName</option>
                                }
                            }
                        </select>
                    </div>
                   
                </div>

                <input type="submit" id="btn" class="btn btn-primary" value="Update Site" />
                <input type="button" class="btn btn-danger" value="Cancel" />

            </form>
        </div>
    </div>
</div>